@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Poppins";
  scroll-behavior: smooth;
  ul {
    list-style-type: none;
  }
  header {
    padding-top: 55px;
    width: 35%;
    h1,
    h2,
    p,
    nav {
      padding-bottom: 15px;
    }
    h1 {
      text-transform: uppercase;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  main {
    width: 45%;
    left: 690px;
    padding-top: 55px;
    section#aboutMe,
    section#skills,
    section#projects,
    section#contact {
      padding: 20px 0;
    }
    section#skills {
      div.pictures {
        width: 35px;
        display: flex;
        flex-wrap: wrap;
        ul{   
          li{
            img {
              width: 70px;
              height: 63px;
            }
          }
        }
      }
    }
    section#projects {
      div.allProjects {
        span {
          img {
            width: 10rem;
            height: 7rem;
          }
        }
      }
    }
  }
}
