@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --primary-background: #131c37;
  --secondary-color: #2f3556;
}

body{
  background-color: #131c37 !important;
  color: white !important;
  header{
    nav{
      ul{
        list-style-type: none;
        li{
          a{
            text-decoration: none;
            color: inherit;
          }
          button{
            color: inherit;
            background-color: aliceblue !important;
          }
        }
      }
    }
  }
}