@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --primary-background: #23315b;
  --secondary-color: #2f3556;
}

body {
  font-family: "Lato";
  background: var(--secondary-color) !important;
  color: white !important;
  font-size: 1.5em;
  header {
    h1 {
      text-transform: uppercase;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
    p{
      width: 65%;
    }
    div{
      margin-top: 35px;
      img {
        width: 3rem;
        height: 3rem;
      }
    }
  }
  header,main{
    padding-top: 80px;
  }
  main {
    section#aboutMe{
      margin-bottom: 70px;
    }
    section#skills {
      p{
        margin-bottom: 45px;
      }
      div.pictures {
        padding: 50px;
        div {
          img {
            width: 4rem;
            height: 4rem;
          }
        }
      }
    }
    section#projects{
      div.allProjects{
        span{
          padding: 40px;
        }
      }
    }
  }
}
